@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Epilogue", sans-serif;
  background: black;
  /* background: blue ; */
  margin: 0;
  padding: 0;
  
}

body {
  overflow-x: hidden;
  background: black;
}

